body {
  background-color: #493ba1;
}

/* header */

.cabeçalho{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to right, #504 , #3271B6 );
  font-weight: bold;
}

#title{
  font-weight: bolder;
  color: black;
}

.subtitle{
  color: white;
  text-decoration: none;
}

.subtitle:hover {
  color: white;
}

.nome {
  padding: 10px;
  margin-right: 40px;
}

.nome:hover {
  text-decoration: underline;
}
ul{
  display: flex;
  text-align: center;
}
.itens{
  list-style: none;
  display: flex;
  font-size: 25px;
  font-weight: bold;
  margin-left: -25px;
}

.itens > li{
    padding: 30px;
}

.link {
  color: white;
  text-decoration: none;
}

#head_login {
  font-size: 15px;
  text-align: center;
}
h1{
  text-align: center;
}
.head{
  text-align: center;
  font-weight: bold ;
  background-image: linear-gradient(to right, #504 , #3271B6 );
  color: white;
  height: 50px;
}

/* conteudo de pag */

.funcionalidades{
  text-align: center;
  margin-left: 32%;
  width: 35%;
  background-color: whitesmoke;
  border-spacing: 5em;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.funcionalidades > h3{
  margin-left: 25px;
  margin-bottom: 25px;
}

.funcionalidades > p{
  margin-left: 15px;
  margin-bottom: 10px;
}

.page_content{
  text-align: center;
  margin-left: 32%;
  width: 35%;
  background-color: whitesmoke;
  border-spacing: 5em;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cadastre{
  width: 10%;
  margin-top: 2.5rem;
  margin-left: 45.5%;
  margin-bottom: 25px;
  background-color: #FDE37A;
  padding: 0.62rem;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  font-weight: bold;
  font-size: large;
}

/* formulario duvidas */

.formulario{
  text-align: center;
}

#form-area{
  border-spacing: 5em;
  border-radius: 20px;
  border-color: #090a0a;
  background-color: whitesmoke;
  margin-left: 30%;
  margin-right: 30%;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
}

/* diario */
 
.diario_text{
  text-align: center;
  width: 50%;
  margin-left: 25%;
}

.d {

  text-decoration: none;
  color: rgb(22, 21, 21);
  margin-left: 25px;
}

.page-change{
  display: flex;
  font-weight: bold;
  justify-content: space-between;
}

.diario_pag{
  color: gray;
  text-decoration: none;
}

.diario_pag:hover {
  color: darkgrey;
}

.diario_save{
  width: 10%;
    margin-top: 2.5rem;
    margin-left: 45.5%;
    background-color: #6c63ff;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    color: whitesmoke;
    font-weight: bold;
    font-size: large;
}