body{
    margin: 0;
}

.main-login{
    width: 100vw;
    min-height: 100vh;
    background-color: #8a68a2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-login{
    width: 50vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login-left > h1{
    color: #300f6d;
}
.right-login{
    width: 50vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-login{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 18% 21%;
    background-color: #300f6d93;
    border-radius: 10%;
    box-shadow: 0px 3px 20px hsl(261, 53%, 22%);
}
.card-login >h1 {
    color: #8a68a2;
    font-weight: 800;
    margin: 0px;
}
.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0;
}
.textfield > input{
    width: 100%;
    border: 0%;
    border-radius: 10%;
    padding: 15px;
    background-color: #8a68a2;
    color: rgb(0, 0, 0);
    font-size: 14pt;
    outline: none;
    box-sizing: border-box;
}
.textfield > label{
    color: #000000;
    margin-bottom: 10px;
    
}
.textfield > input::placeholder{
    color: #000000;
    font-size: 10pt;
}
.butlogin{
    width: 100%;
    padding: 16px 0 ;
    margin: 25px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3;
    color: #8a68a2;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px black;
}